/*//////////////////////////////////////////////////////////////////
[ ladat  ]*/


section {
	padding: 60px 0;
}

.concept_text h3, .about_us h4 {
	font-weight: 700 !important;
}

#height_reset {
	height: 0;
}

.text_center {
	text-align: center;
}

.container {
	display: flex;
	color: #676767;
}

.model_left {
	width: 50%;
	position: relative;
}

.title_model_left {
	position: absolute;
	top: 2%;
	left: 3%;
}

.model_right {
	width: 50%;
	margin-left: 5%;
	padding-top: 30px;
}

.model_right img {
	width: 40%;
}

.model_left img {
	width: 100%;
}

.item_space {
	display: flex;
	justify-content: space-evenly;
}

.item_bottom {
	margin-top: 6%;
}

.text_left {
	width: 35%;
}

.text_left p {
	line-height: 2;
}

.text_right {
	width: 35%;
	text-align: justify;
}

.text_right p {
	line-height: 1.5;
}

.concept_text .container {
	display: flex;
	justify-content: space-evenly;
}

.concept_img .container h5 {
	margin-top: 15px;
	display: block;
}

.img_left {
	width: 50%;
	height: 400px;
	cursor: pointer;
	overflow: hidden;
}

.img_left img {
	transition: all ease-in-out 0.5s;
}

.img_left:hover img {
	transform: scale(1.1);
}

.img_right {
	width: 50%;
	height: 400px;
	cursor: pointer;
	overflow: hidden;
}

.img_right img {
	transition: all ease-in-out 0.5s;
}

.img_right:hover img {
	transform: scale(1.1);
}

.concept_img .container {
	display: flex;
	justify-content: space-evenly;
	gap: 50px;
}

.concept_img img {
	width: 100%;
	display: block;
	margin: auto;
	height: 100%;
}

.width_50 {
	width: 50%;
}

.width_100 {
	width: 100%;
}

.width_25 {
	width: 25%;
}

.width_30 {
	width: 30%;
}

.width_70 {
	width: 60%;
}

.bottom_item_img {
	display: flex;
	gap: 2px;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
	bottom: 2%;
	left: 3%;
	display: block;
	color: white;
}

.height_100 {
	height: 100%;
}

.home_decoration {
	display: flex;
	gap: 2px;
}

.top_item {
	margin-bottom: 2px;
}

.about_us .container {
	display: flex;
	justify-content: space-between;
}

.about_us .container p {
	line-height: 1.5;
	text-align: justify;
}

#style_slider {
	display: flex;
	gap: 10px;
}

.item_top img:hover {
	transform: scale(1.08);
}

.item_top img {
	transition: all ease 0.5s;
}

.item_bottom img:hover {
	transform: scale(1.08);
	cursor: pointer;
}

.item_bottom img {
	transition: all ease 0.5s;
}

#opacity {
	opacity: 0.6;
	cursor: pointer;
}

#opacity:hover {
	opacity: 1;
}
#height_reset {
	height: 0;
}