section {
	padding: 60px 0;
}

.width_60 {
	width: 60%;
}

html, body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	letter-spacing: 0.25px;
	line-height: 24px;
	outline: none !important;
	background: #ffffff;
	color: #545454;
}

.width_100 {
	width: 100%;
}

img {
	vertical-align: middle;
}

.hack_ur_space .container {
	display: flex;
	justify-content: space-between;
}

.width_30 {
	width: 66.66667%;
}

.container, .container-fluid, .container-lg, .container-md,
	.container-sm, .container-xl, .container-xxl {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x)* .5);
	padding-left: calc(var(--bs-gutter-x)* .5);
	margin-right: auto;
	margin-left: auto;
}

h4 {
	font-size: calc(1.275rem + .3vw);
}

.hack_ur_space .container p {
	line-height: 1.5;
	text-align: justify;
}

.container {
	display: flex;
}

.container .text {
	padding-right: 15px;
}

.container .img {
	padding-left: 15px;
}

.container:before, .container:after {
	content: " ";
	display: table;
}

.background:before {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.header_background_img {
	min-height: 300px;
	padding: 40px;
	margin-top: 0px;
}

.h2, h2 {
	font-size: 45px !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	line-height: auto;
	letter-spacing: 0;
	color: #676767;
	margin-top: 0;
	margin-bottom: 15px;
}

* {
	box-sizing: border-box;
}

main {
	display: block;
}

main {
	margin-bottom: 0;
	overflow: hidden;
}

.header-background-info {
	margin-top: 150px;
}

.icon {
	height: 130px;
	width: 130px;
	margin-bottom: 25px;
}

.container .column {
	text-align: center;
}

.purpose .container p {
	float: left;
	text-align: center !important;
	padding: 0 20px;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.text-center {
	text-align: center;
}

.title-ourteam {
	padding-bottom: 40px;
}

.purpose {
	margin-top: 50px;
	margin-bottom: 100px;
}
.intro1{
	background-image:url(//theme.hstatic.net/1000280685/1000722794/14/about_header_bg.jpg?v=1313);
}
.intro2{
	border:0;
}